$color-fondo: #e56353;

$salmon-salmon: #e97f72;

$pastel-pink: #f0a9a1;

$granite-gray: #686963;

$Taupe-gray: #91918d;

$gray-gray: #babab8;

// $gray-black: #646460;

$white-white: #fff;

$snow-snow: #fafafa;

$quick-silver: #a0a0a0;